/api/clients.Api/bin
/api/clients.Api/obj
/api/clients.Api/debug
/api/clients.Api/.vs
/api/Data/bin/Debug
/api/Data/obj
/api/Domain/bin
/api/Domain/obj
/api/Domain/Domain.csproj.user
/api/Application/bin
/api/Application/obj
/app/node_modules
/api/clients.Api/.vscode
/api/.vs/ClientsApi/v16
/api/.vs/ClientsApi/config
/api/.vs/ClientsApi/DesignTimeBuild
/app/dist
