<div class="list row">
  <div class="col-md-6">
    <h4>Lista de clientes</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let client of clients; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveClient(client, i)">
        {{ client.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentClient">
      <h4><strong>Cliente</strong></h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentClient.name }}
      </div>
      <div>
        <label><strong>Date de nascimento:</strong></label>
        {{ currentClient.birthDate | date:'dd/MM/yyyy' }}
      </div>
      <div>
        <client-addresses [adresses]="currentClient.clientAddresses" [update]="false"></client-addresses>
      </div>
      <hr />
      <a class="btn btn-primary" routerLink="/clients/{{ currentClient.id }}">
        Editar
      </a>
    </div>

    <div *ngIf="!currentClient">
      <br />
      <p>Por favor, clique em um cliente..</p>
    </div>
  </div>
</div>